h1,
h2,
h3,
h4,
h5,
h6,
* {
    font-family: Ubuntu;
}
p {
    color: #36CD97;
}

.logo {
    color: #36CD97;
    font-size: 60px;
    margin-top: 120px;
    text-align: center;
}

#search {
    width: 540px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    border: 1px, solid #333333;
}

.sbar {
    width: 425px;
    height: 36px;
    margin-top: 1px;
    border: none;
    background: none;
    float: right;
    color: black
}

#search:hover {
    background-color: #c8c8c8;
}

.sbar:focus {
    border: none;
    outline: none;
}

#seedbar {
    padding-left: 0.5em;
}

.sbutton {
    float: left;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20px;
    width: 30px;
    height: 35px;
    margin-top: 3px;
    margin-left: 10px;
    border: none;
    border-radius: 100px;
}

.webLinkResult {
    margin-left: 245px;
}

.webLinkResult>a {
    color: rgb(17, 157, 17)
}

.webLinkResult>a:visited {
    color: rgb(16, 97, 16)
}

/*Modal stuff directly stolen from W3Schools because im short on time */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#tagbar {
    color: #39e6aa;
    width: 510px;
    background-color: #2c8465;
    min-height: 30px;
    display: none;
    text-align: left;
    padding: 8px;
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}


form {
    text-align: left;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    justify-items: stretch;
    padding: 15px;
    border: 2px solid #35aa81;
    border-radius: 20px;
    width: 300px
}

form>h4 {
    margin-top: -6px;
    margin-bottom: 0px;
}

label {
    margin-top: -13px;
}

form>input {
    border-radius: 8px;
    padding: 3px;
    border: 1px, solid black;
}

form>input:focus, form>input:active {
    outline: 2px solid #35aa81;
    border: 1px, solid #35aa81;
    background-color: #92e4c7;
}

form>button {
    margin-top: -12px;
    border-radius: 5px;
    border: 3px, solid #58c49e;
    background-color: #92e4c7;
    cursor: pointer;
}

form>button:hover {
    border: 3px solid #35aa81;
    background-color: #67e3b8;
}

a {
    color: #4ead8c;
}